.mainBlock_about {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.aboutBlock_first {
  width: 60%;
  border-radius: 14px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.248);
  padding: 2rem 3rem;
  > h2,
  h3 {
    margin-top: 1rem;
  }
}
.aboutBlock_second {
  width: 20%;
  height: 100%;
  border-radius: 14px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.248);
  padding: 2rem;
}
.aboutBlock_btn {
  margin-top: 2rem;
}
.aboutBlock_btnSvyaz {
  background-color: rgba(141, 28, 255, 1);
  border-radius: 5px;
  width: 100%;
  height: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.aboutBlock_btnSvyaz:hover {
  transition: 0.3s;
  box-shadow: rgba(142, 28, 255, 0.485) 0px 2px 20px;
}
.aboutBlock_btnSubs {
  background-color: transparent;
  border: 1px black solid;
  border-radius: 5px;
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.aboutBlock_btnSubs:hover {
  background-color: rgba(141, 28, 255, 1);
  box-shadow: rgba(142, 28, 255, 0.485) 0px 2px 20px;
  color: white;
  border: 1px rgba(141, 28, 255, 1) solid;
  transition: 0.3s;
}
@media screen and (max-width: 1025px) {
  .mainBlock_about {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .aboutBlock_second {
    width: 80%;
    margin-bottom: 5rem;
  }
  .aboutBlock_first {
    width: 80%;
  }
}
