.mainBlock_myProfile {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 30px rgb(226, 226, 226);
  border-radius: 10px;
  padding: 2rem;
}
.myProfile_info {
  display: grid;
  grid-template-columns: repeat(2, 13rem);
  gap: 10px;
  margin-top: 1rem;
  > input {
    height: 2rem;
    background-color: rgba(248, 248, 249, 1);
    border: rgba(0, 0, 0, 0.12) 1px solid;
    border-radius: 5px;
    padding-left: 1rem;
  }
  > input::placeholder {
    color: rgba(212, 212, 212, 1);
    font-weight: 500;
  }
}
.myProfile_moreInfo {
  margin-top: 2rem;
}
.myProfile_inputBlock {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  > p {
    width: 20%;
  }
  > input {
    height: 2rem;
    padding: 0 1rem;
    background-color: rgba(248, 248, 249, 1);
    border: rgba(0, 0, 0, 0.12) 1px solid;
    border-radius: 5px;
  }
}
.myProfile_contacts {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.myProfile_contactsMini {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;

  height: 2rem;
  > input {
    height: 2rem;
    padding: 0 1rem;
    background-color: rgba(248, 248, 249, 1);
    border: rgba(0, 0, 0, 0.12) 1px solid;
    border-radius: 5px;
    width: 10rem;
  }
  > input::placeholder {
    color: rgba(212, 212, 212, 1);
    font-weight: 500;
  }
  > div {
    width: 20%;
  }
}
.oComp {
  width: 30vmax;
  height: 10vmax !important;
  resize: none;
}

.myProfile_btn {
  background-color: rgba(141, 28, 255, 1);
  color: white;
  width: 10rem;
  padding: 0.5rem;
  margin-top: 3rem;
  border-radius: 5px;
  padding-left: 1rem;
}
.myProfile_btn:hover {
  box-shadow: rgba(142, 28, 255, 0.485) 0px 2px 20px;
}
.myProfile_gender {
  height: 2rem;
  padding: 0 1rem;
  background-color: rgba(248, 248, 249, 1);
  border: rgba(0, 0, 0, 0.12) 1px solid;
  border-radius: 5px;
}
@media screen and (max-width: 1024px) {
  .myProfile_inputBlock {
    > p {
      width: 30%;
    }
  }
  .myProfile_contactsMini {
    > div {
      width: 30%;
    }
  }
}
@media screen and (max-width: 768px) {
  .myProfile_inputBlock {
    flex-direction: column;
    align-items: baseline;
    > p {
      margin-bottom: 1rem;
    }
  }
  .myProfile_contactsMini {
    flex-direction: column;
    align-items: baseline;
    height: 5rem;
    > div {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
  // .myProfile_contactsMini > input {
  //   margin-bottom: 2rem;
  // }
}
@media screen and (max-width: 574px) {
  .myProfile_inputBlock > p {
    width: 100%;
  }
  .myProfile_info {
    grid-template-columns: repeat(1, 1fr);
  }
  .mainBlock_myProfile {
    width: 80%;
  }
  .myProfile_inputBlock > input {
    width: 90%;
  }
  .myProfile_contactsMini > input {
    width: 90%;
  }
  .form-control {
    width: 99% !important;
  }
}
