.mainBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1vmax;
}
.firstBlock {
  width: 30vmax;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  > div {
    > h2 {
      text-wrap: nowrap;
    }
    > p {
      margin-right: 1rem;
    }
  }
}
.secondBlock {
  width: 20vmin;
  display: flex;
  align-items: center;
  justify-content: space-between;
  > p {
    margin-right: 1rem;
  }
}
.firstBlock_nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
