.mainBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1vmax;
  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.firstBlock {
  width: 40%;
  display: flex;
  justify-content: space-between;
  > div {
    width: 100%;
    display: flex;
    justify-content: space-between;

    flex-direction: row;
  }
  > div {
    > h2 {
      text-wrap: nowrap;
    }
  }
}
.secondBlock {
  width: 15%;
  display: flex;
  justify-content: space-between;
}
