.button{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5%;
    margin-left: 6%;
    margin-right: 6%;
    color: #8A8A8A;
    font-size: 24px;
    
    
}
.h2{
    width: 40%;
    height: 3vmax;
    background-color: rgb(141, 28, 255);
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1{
    margin-top: 5%;
    font-size: 32px;
}
.Fio{
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 6%;
    
}

.sub{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    font-size: 24px;
}
.Vod{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    
    
    
    
}
.Vod2{
    margin-right: 8%;
}
    
.Vod1{
    font-size: 24px;
    width: 500px;
    height: 64px;
    margin-left: 5%;


}
.Pod{
    font-size: 24px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    
}
    

.Pole1{
    margin-left: 5%;
    margin-top: 3%;
    width: 1169px;
    height: 292px;
    flex-shrink: 0    
    
}
    